<div class="space"></div>>
<div class="row">
  <div class="about-page">

  	<div class="col-md-3"></div>
  	<div class="col-md-6">

			<% provide(:title, 'About') %>
			<p id="about">
			Built with Rails backend and Bootstrap frontend, this application employs RESTful architecture and allows users to post	Twitter-like messages. 
			</p>

		</div>
  	<div class="col-md-3"></div>
	</div>
</div>